@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="sidenav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (SignInManager.IsSignedIn(User)) //If logged in
        {
            <a class="btn icon_button" asp-area="Home" asp-page="/Home/Index" title="Home"><i class="fa fa-home"></i></a>
            <a class="btn icon_button" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile"><i class="fa fa-bars"></i></a>
            <a class="btn icon_button" asp-area="Identity" asp-page="/Account/Logout" title="Log Out" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><i class="fa fa-close"></i></a>
        }
    }
</div>