@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="sidenav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (SignInManager.IsSignedIn(User)) //If logged in
        {
            <a class="btn icon_button" asp-area="" asp-controller="Home" asp-action="Index" title="Home"><i class="fa fa-home"></i></a>
            <a class="btn icon_button" asp-area="" asp-controller="Courses" title="Courses"><i class="fa fa-book"></i></a>
            <a class="btn icon_button" asp-area="" asp-controller="Students" title="Students"><i class="fa fa-users"></i></a>
            <a class="btn icon_button" asp-area="" asp-controller="Enrollments" title="Enrollments"><i class="fa fa-university"></i></a>
            <a class="btn icon_button" asp-area="" asp-controller="TeachingAssignments" title="Teaching Assignments"><i class="fa fa-graduation-cap"></i></a>
            <a class="btn icon_button" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile"><i class="fa fa-user"></i></a>
            <a class="btn icon_button" asp-area="Identity" asp-page="/Account/Logout" title="Log Out" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><i class="fa fa-sign-out"></i></a>
        }
    }
</div>