@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." readonly/>
            </div>
            <div class="mb-3">
                <div class="col">
                    <label asp-for="Input.FirstName" class="form-label"></label>
                    <input asp-for="Input.FirstName" class="form-control" placeholder="Please enter your first name." />
                </div>
                <div class="col">
                    <label asp-for="Input.LastName" class="form-label"></label>
                    <input asp-for="Input.LastName" class="form-control" placeholder="Please enter your last name." />
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Input.DOB" class="form-label"></label>
                <input asp-for="Input.DOB" class="form-control" placeholder="Please enter your DOB." />
            </div>
            <div class="mb-3">
                <label asp-for="Input.PhoneNumber" class="form-label">Phone Number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
           <div class="form-floating">
                <input asp-for="Input.ProfileImageFile" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif" />
                <label asp-for="Input.ProfileImage" class="form-label">Profile Image</label>
                <span asp-validation-for="Input.ProfileImage" class="text-danger"></span>
           </div>
            <div class="form-floating">
                <img src=@Model.Input.ProfileImage width="300" height="300" />
            </div>
            <button id="update-profile-button" type="submit" class="w-100 mt-3 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
