@model AdvancedProjectMVC.Models.Server

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-xxl-5">
    <h1>Create Server</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ServerName" class="control-label">Server Name</label>
                    <input asp-for="ServerName" class="form-control"/>
                    <span asp-validation-for="ServerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>

            <form asp-action="CreateDM" hidden>
                <div class="form-group">
                    <input asp-for="ServerName" class="form-control" id="nameInput" />
                    <span asp-validation-for="ServerName" class="text-danger"></span>

                    <input name="userId" id="userId" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="CreateDM" class="btn btn-primary" id="submitBtn" />
                </div>
            </form>
        </div>
    </div>

        <div>
            <a class="btn btn-sm btn-primary" asp-action="Index">Cancel</a>
        </div>
</div>

<script>
    window.onload = function() {
        var url = new URL(window.location.href);

        if (url.searchParams.has('member1')) {
            const queryString = window.location.search;
            const members = new URLSearchParams(queryString);

            const member1 = members.get("member1");
            const member2 = members.get("member2");

            document.getElementById("nameInput").value = member1 + "+" + member2;
            document.getElementById("userId").value = members.get("memberId")

            document.getElementById("submitBtn").form.submit();
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
