@model IEnumerable<AdvancedProjectMVC.Models.Server>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="server_list_sidebar">
    <partial name="_ServerListSidebar" />
</div>