@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home";
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="lakehead-logo-div">
        <a >
            <img src="~/images/LakeheadLogoNB.png" id="lakehead-logo" />
        </a>
    </div>
}
<div class="login text-center login-test">
    <h1 class="display-4">Welcome to</h1>
    <div class="login_logo text-white logo-div">
        <img src="~/images/logo.png" alt="LakeChat Logo" id="logo" />
    </div>
    @if (SignInManager.IsSignedIn(User)) //If logged in
    {
        <h3>Hello @User.Identity?.Name!</h3>
    }
    else
    {
        <div class="login_buttons" className="login_buttons" id="loginbutton">
            <a class="btn login_button" asp-area="Identity" asp-page="/Account/Login"   >Login</a>
            <a class="btn login_button" asp-area="Identity" asp-page="/Account/Register">Register Account</a>
        </div>
    }

</div>