@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home";
}

<div class="login text-center">
    <h1 class="display-1 login_title" style="font-family: Georgia, serif;">Student Connect</h1>
    <img src="https://i.imgur.com/OWJN7JN.png" width="25%" alt="The Lakehead University Logo"/>
    @if (SignInManager.IsSignedIn(User)) //If logged in
    {
        <h3>Hello @User.Identity?.Name!</h3>
    }
    else
    {
        <div class="login_buttons" className="login_buttons" id="loginbutton">
            <a class="btn login_button" asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a class="btn login_button" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
        </div>
    }

</div>
