@model AdvancedProjectMVC.Models.SharedFile

<form asp-action="Delete">
        <input type="hidden" asp-for="FileName" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
</form>
