@model List<string>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "File Sharing";
}

<h1> Share File</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                FileName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>
