@model List<SharedFile>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "File Sharing";
}

<h1> Shared Files</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                File Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FileName
                </td>
                <td>
                    <a asp-action="DeleteFile" name = "fileName" value="@item.FileName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Upload"> Upload New File</a> 
</p>