@model AdvancedProjectMVC.Models.SharedFile
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "File Sharing";
}

<h1> Upload </h1>

<form method="post" asp-controller="FileSharing" asp-action="UploadFile" enctype="multipart/form-data">
    <p>Upload file</p>
    <input class="form-control" type="file" asp-for="TestFile" />
    <input class="btn btn-success" type="submit" value="Upload" />
</form>

<!-- 
<form method="get" asp-controller="FileSharing" asp-action="DownloadFile">
    <input class="btn btn-success" type="submit" value="Download" />
</form>-->
