:root {
	--color1: #000000; /*Black*/
	--color2: #EAEAEA; /*Off White*/
	--color3: #FFFFFF; /*White*/
	--color4: #269FBC; /*Light Blue*/
	--color5: #1A6076; /*Light Blue/darker than 4*/
	--color6: #0B3C5D;
	--primary: #1CB5E0;
	--primary-hover: #137799;
	--secondary: #063156;
	--secondary-hover: #00427A;
	--danger: #F44336;

	--color1-dark: #F5F5F5; /*White*/
	--color2-dark: #269FBC; /*Light Blue*/
	--color3-dark: #2E8B57; /*Light Green*/
	--color4-dark: #1E6E87; /*Light Blue/darker than 2*/
	--color5-dark: #0B3C5D; /*Dark Blue/Green*/
	--color6-dark: #0d3575; /*Dark Blue*/
	--primary-dark: #1CB5E0; /*Cyan*/
	--primary-hover-dark: #137799; /*Light Blue/darker than 2*/
	--secondary-dark: #2F9E44; /*Green*/
	--secondary-hover-dark: #208537; /*Dark Green*/
	--danger-dark: #F44336; /*Red*/
}

html {
	font-size: 14px;
	position: relative;
	min-height: 100%;
}

header {
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: Center;
	font-size: 20px;
	color: var(--color3);
	background-color: var(--color5);
	border-bottom: 1px solid var(--color6);
}

.main {
	display: flex;
	flex-direction: column;
	flex: 0.75;
	height: 100vh;
	margin-left: auto;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

a {
	color: var(--color5);
}

body {
	color: var(--color1);
	background-color: var(--color3);
	font-size: 16px;
	margin: auto;
}
@media screen and (min-width: 320px) {
	body {
		font-size: calc(16px + 6 * ((100vw - 320px) / 680));
	}
}
@media screen and (min-width: 1000px) {
	body {
		font-size: 22px;
	}
}

/*Homepage Not Logged In*/
.login-test {
	background-color: var(--color2);
}

.lakehead-logo-div {
	position: relative;
	height: 1%; /* This, along with height: 1000% is... not ideal, but works */
	width: auto;
}

#lakehead-logo {
	position: absolute;
	left: 0;
	top: 0;
	height: 1000%;
	width: auto;
}

.logo-div {
	position: relative;
	height: 70%;
	width: auto;
	padding-bottom: 0;
}

#logo {
	height: 100%;
	width: auto;
}


/*LOGIN*/
.login_form {
	display: flex;
	justify-content: center;
}
.login {
	display: grid;
	place-items: center;
	height: 98vh;
	/* width: 100%; */
}
.login_title {
	font-size: 130px;
	text-shadow: -2px 3px 0 #000,2px 3px 0 #000;
}

.login_button {
	width: 350px;
	background-color: var(--primary);
	color: white;
	font-weight: 600;
	font-size: 26px;
	margin: 2vw;
	border-radius: 10px;
}
.login_button:hover {
	background-color: var(--primary-hover);
	color: #c6c9cc;
}

/*FORM*/
.form-control {
	color: var(--color1);
	background-color: var(--color3);
}
.form-label {
	color: var(--color1);
}


/*SIDE NAV*/
.sidenav {
	margin: auto;
	height: 100vh; /* Full-height: remove this if you want "auto" height */
	width: 45pt; /* Set the width of the sidebar */
	display: table-column;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: var(--color6);
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 10pt;
	border-right: 1px solid var(--color4);
}

.icon_button {
	background-color: var(--color4); /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	width: 85%;
	margin: 5%;
	padding: 15%; /* Some padding */
	font-size: 22px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}
.icon_button:hover {
	background-color: var(--color5);
}

#dark-mode-toggle {
	position: absolute;
	bottom: 0;
	left: 0;
}

/*NAVs*/
nav {

}
.nav-link{
	color: var(--color1);
}
.nav-link:hover {
	color: var(--color2);
}
/*If active, highlight with color*/
.nav-pills .pill-1 .nav-link {
	background-color: var(--primary);
} /*If not active, make transparent*/
.nav-pills .pill-1 .nav-link:not(.active) {
	background-color: transparent;
}


/*BUTTONS*/
.btn {
	margin: 2pt;
}
.btn-primary {
	background-color: var(--primary);
	border: none;
}
.btn-primary:hover {
	background-color: var(--primary-hover);
}

.btn-secondary {
	background-color: var(--secondary);
}
.btn-secondary:hover {
	background-color: var(--secondary-hover);
}

.btn-danger {
	background-color: var(--danger);
}

@media screen and (min-width: 320px) {
	.btn { font-size: calc(14px + 6 * ((100vw - 320px) / 680)); }
}
@media screen and (min-width: 1000px) {
	.btn { font-size: 18px; }
}


/*TABLES*/
table tr {
	color: var(--color3);
}
table tr:nth-child(odd) {
	background-color: var(--color4);
}
table tr:nth-child(even) {
	background-color: var(--color5);
	
}

/*Toolbar*/
.toolbar {
	color: var(--color3);
	background-color: var(--color5);
	border-right: 2px solid var(--color6);
	margin: auto;
	padding: 10pt;
	padding-top: 10pt;
	height: 100vh; /* Full-height: remove this if you want "auto" height */
	width: 13.5%; /* Set the width of the sidebar */
	/* display: table-column; */
	text-align: center;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	/* z-index: 1; /* Stay on top !1! */
	float: none;
	top: 0; /* Stay at the top */
	left: 45pt;
	overflow-x: hidden; /* Disable horizontal scroll */
}
.toolbar_header {
	top: 0;
}
.toolbar_buttons {
}
.toolbar_button {
	width: 100%;
}

/*CARDS*/
.card-container {
	margin: 20px;
}
.card {
	display: inline-grid;
	margin: 10px;
	width: 30vh;
	height: 25vh;
}
.card-header {
	height: 100%;
	text-align: center;
	font-size: 42px;
	bottom: 0;
	background-color: var(--color2);
}
.card-title {
	color: var(--primary);
	top: 0;
	bottom: 0;
	text-decoration: none;
}
.card-title:hover {
	text-decoration: underline;
}

.card-body {
	height: 50%;
}

/*CHAT VIEW*/
.chat-area {
	color: var(--color3);
	display: flex;
	flex-flow: column;
	flex: 0 1 auto;
	background-color: var(--color4);
	height: 100%;
	border-radius: 5px;
}
.chatbox {
	display: flex;
	flex: 1 0 auto;
	flex-flow: row;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	align-items: flex-end;
}

.chatbox-textarea {
	color: var(--color3);
	background-color: var(--color5);
	width: 90%;
	overflow: auto;
	resize: none;
	min-height: 50px;
	max-height: 250px;
	line-height: 25px;
	padding: 1%;
	border-radius: 5px;
}
.chatbox-sendbutton {
	display: flex;
	flex: 0 0;
	width: 10%;
	height: 50px;
	align-self: end;
	text-align: center;
}

.chat-message {
	color: var(--color3);
	display: flex;
	word-break: break-word;
	overflow-wrap: break-word; /*Wrap text*/
	inline-size: 100%;
	/*flex-flow: row;
	flex: 0 0 auto;
	width: 100%;
	*/
	list-style-type: none;
	border-radius: 5px;
	padding: 2px;
}
.chat-message:hover {
	background-color: var(--color3);
}
.message-list {
	display: flex;
	flex-flow: column;
	flex: 1 0 auto;
	width: 100%;
}
.chat-message--user {
	background-color: var(--color5);
}

/* DARK MODE */
html.dark-mode {
	font-size: 14px;
	position: relative;
	min-height: 100%;
}

html.dark-mode .header {
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: Center;
	font-size: 20px;
	color: var(--color1-dark);
	background-color: var(--color4-dark);
	border-bottom: 1px solid var(--color6-dark);
}

html.dark-mode .main {
	display: flex;
	flex-direction: column;
	flex: 0.75;
	height: 100vh;
	margin-left: auto;
}

@media (min-width: 768px) {
	html.dark-mode {
		font-size: 16px;
	}
}

html.dark-mode .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html.dark-mode a {
	color: var(--color1-dark);
}

html.dark-mode body {
	color: var(--color1-dark);
	background-color: var(--color5-dark);
	font-size: 16px;
	margin: auto;
}

@media screen and (min-width: 320px) {
	html.dark-mode body {
		font-size: calc(16px + 6 * ((100vw - 320px) / 680));
	}
}

@media screen and (min-width: 1000px) {
	html.dark-mode body {
		font-size: 22px;
	}
}

/*Homepage Not Logged In*/
html.dark-mode .login-test {
	background-color: var(--color1-dark);
}

html.dark-mode .lakehead-logo-div {
	position: relative;
	height: 1%; /* This, along with height: 1000% is... not ideal, but works */
	width: auto;
}

html.dark-mode #lakehead-logo {
	position: absolute;
	left: 0;
	top: 0;
	height: 1000%;
	width: auto;
	background-color: var(--color1-dark);
	border-radius: 5px;
}

html.dark-mode .logo-div {
	position: relative;
	height: 70%;
	width: auto;
	padding-bottom: 0;
}

html.dark-mode #logo {
	height: 100%;
	width: auto;
	filter: invert(100%)
}


/*LOGIN*/
html.dark-mode .login_form {
	display: flex;
	justify-content: center;
}

html.dark-mode .login {
	display: grid;
	place-items: center;
	height: 98vh;
	/* width: 100%; */
}

html.dark-mode .login_title {
	font-size: 130px;
	text-shadow: -2px 3px 0 #000,2px 3px 0 #000;
}

html.dark-mode .login_button {
	width: 350px;
	background-color: var(--color2-dark);
	color: white;
	font-weight: 600;
	font-size: 26px;
	margin: 2vw;
	border-radius: 10px;
}

html.dark-mode .login_button:hover {
	background-color: var(--color4-dark);
	color: #c6c9cc;
}

/*FORM*/
html.dark-mode .form-control {
	color: var(--color1-dark);
	background-color: var(--color5-dark);
}

html.dark-mode .form-label {
	color: var(--color1-dark);
}


/*SIDE NAV*/
html.dark-mode .sidenav {
	margin: auto;
	height: 100vh; /* Full-height: remove this if you want "auto" height */
	width: 45pt; /* Set the width of the sidebar */
	display: table-column;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: var(--color5-dark);
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 10pt;
	border-right: 1px solid var(--color1-dark);
}

html.dark-mode .icon_button {
	background-color: var(--color4); /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	width: 85%;
	margin: 5%;
	padding: 15%; /* Some padding */
	font-size: 22px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

html.dark-mode .icon_button:hover {
	background-color: var(--color4-dark);
}

html.dark-mode #dark-mode-toggle {
	position: absolute;
	bottom: 0;
	left: 0;
}

/*NAVs*/
html.dark-mode nav {
}

html.dark-mode .nav-link {
	color: var(--color1-dark);
}

.nav-link:hover {
	color: var(--color2-dark);
}
/*If active, highlight with color*/
html.dark-mode .nav-pills .pill-1 .nav-link {
	background-color: var(--primary-dark);
}
/*If not active, make transparent*/
html.dark-mode .nav-pills .pill-1 .nav-link:not(.active) {
	background-color: transparent;
}


/*BUTTONS*/
html.dark-mode .btn {
	margin: 2pt;
}

html.dark-mode .btn-primary {
	background-color: var(--primary-dark);
	border: none;
}

html.dark-mode .btn-primary:hover {
	background-color: var(--primary-hover-dark);
}

html.dark-mode .btn-secondary {
	background-color: var(--secondary-dark);
}

html.dark-mode .btn-secondary:hover {
	background-color: var(--secondary-hover-dark);
}

html.dark-mode .btn-danger {
	background-color: var(--danger-dark);
}

@media screen and (min-width: 320px) {
	html.dark-mode .btn {
		font-size: calc(14px + 6 * ((100vw - 320px) / 680));
	}
}

@media screen and (min-width: 1000px) {
	html.dark-mode .btn {
		font-size: 18px;
	}
}


/*TABLES*/
html.dark-mode table tr {
	color: var(--color1-dark);
}

html.dark-mode table tr:nth-child(odd) {
	background-color: var(--color4-dark);
}

html.dark-mode table tr:nth-child(even) {
	background-color: #03997E; /*var(--color5);*/
}

/*Toolbar*/
html.dark-mode .toolbar {
	color: var(--color3);
	background-color: var(--color4-dark);
	border-right: 2px solid var(--color6);
	margin: auto;
	padding: 10pt;
	padding-top: 10pt;
	height: 100vh; /* Full-height: remove this if you want "auto" height */
	width: 13.5%; /* Set the width of the sidebar */
	/* display: table-column; */
	text-align: center;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	/* z-index: 1; /* Stay on top !1! */
	float: none;
	top: 0; /* Stay at the top */
	left: 45pt;
	overflow-x: hidden; /* Disable horizontal scroll */
}

html.dark-mode .toolbar_header {
	top: 0;
}

html.dark-mode .toolbar_buttons {
}

html.dark-mode .toolbar_button {
	width: 100%;
}

/*CARDS*/
html.dark-mode .card-container {
	margin: 20px;
}

html.dark-mode .card {
	display: inline-grid;
	margin: 10px;
	width: 30vh;
	height: 25vh;
	background-color: var(--color2-dark);
}

html.dark-mode .card-header {
	height: 100%;
	text-align: center;
	font-size: 42px;
	bottom: 0;
	background-color: var(--color2-dark);
}

html.dark-mode .card-title {
	color: var(--color1-dark);
	top: 0;
	bottom: 0;
	text-decoration: none;
}

html.dark-mode .card-title:hover {
	text-decoration: underline;
}

html.dark-mode .card-body {
	height: 50%;

}

/*CHAT VIEW*/
html.dark-mode .chat-area {
	color: var(--color1-dark);
	display: flex;
	flex-flow: column;
	flex: 0 1 auto;
	background-color: var(--color4-dark);
	height: 100%;
	border-radius: 5px;
}

html.dark-mode .chatbox {
	display: flex;
	flex: 1 0 auto;
	flex-flow: row;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	align-items: flex-end;
}

html.dark-mode .chatbox-textarea {
	color: var(--color1-dark);
	background-color: var(--color5-dark);
	width: 90%;
	overflow: auto;
	resize: none;
	min-height: 50px;
	max-height: 250px;
	line-height: 25px;
	padding: 1%;
	border-radius: 5px;
}

html.dark-mode .chatbox-sendbutton {
	display: flex;
	flex: 0 0;
	width: 10%;
	height: 50px;
	align-self: end;
	text-align: center;
}

html.dark-mode .chat-message {
	color: var(--color1-dark);
	display: flex;
	word-break: break-word;
	overflow-wrap: break-word; /*Wrap text*/
	inline-size: 100%;
	/*flex-flow: row;
	flex: 0 0 auto;
	width: 100%;
	*/
	list-style-type: none;
	border-radius: 5px;
	padding: 2px;
}

html.dark-mode .chat-message:hover {
	background-color: var(--color3-dark);
}

html.dark-mode .message-list {
	display: flex;
	flex-flow: column;
	flex: 1 0 auto;
	width: 100%;
}
html.dark-mode .chat-message--user {
	background-color: #094066;
}