:root, :root.light {
	--color1: #000000; /*Black*/
	--color2: #EAEAEA; /*Off White*/
	--color3: #FFFFFF; /*White*/
	--color4: #0087F5; /*Light Blue*/
	--color5: #005DA8; /*Light Blue/darker than 4*/
	--color6: #00325C; /*Dark Blue/Green*/
	--white: #FFFFFF;
	--bg-color: #FFFFFF; /*White*/
	--primary: #3273A8;
	--primary-hover: #235075;
	--secondary: #686e65;
	--secondary-hover: #4e524c;
	--danger: #F44336;
}
	:root, :root.dark {
		--color1: #F5F5F5;
		--color2: #15335E;
		--color3: #FFFFFF;
		--color4: #3E5678;
		--color5: #152842;
		--color6: #0d3575;
		--white: #FFFFFF;
		--bg-color: #1D385E;
		--primary: #295CA3;
		--primary-hover: #137799;
		--secondary: #686e65;
		--secondary-hover: #4e524c;
		--danger: #F44336;
	}

html {
	font-size: 14px;
	position: relative;
	min-height: 100%;
}

header {
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: Center;
	font-size: 20px;
	color: var(--color3);
	background-color: var(--color5);
	/*border-bottom: 1px solid var(--color1);*/
}

.fixed-container {
	position: fixed;
}

.main-content {
	margin-left: 45pt;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

a {
	color: var(--color1);
}
a:hover {
	color: var(--bs-info);
}



body {
	color: var(--color1);
	background-color: var(--bg-color);
	font-size: 16px;
	margin: auto;
}
@media screen and (min-width: 320px) {
	body {
		font-size: calc(16px + 6 * ((100vw - 320px) / 680));
	}
}
@media screen and (min-width: 1000px) {
	body {
		font-size: 22px;
	}
}

.flex-parent, .flex-container {
	display: flex;
	height: 100vh;
}
.flex-child {
	flex: 1;
	position: relative;
	/*border: 2px solid yellow;*/ /*testing*/
}

/*Homepage Not Logged In*/
.login-test {
	background-color: var(--color2);
}

.lakehead-logo-div {
	position: relative;
	height: 1%; /* This, along with height: 1000% is... not ideal, but works */
	width: auto;
}

#lakehead-logo {
	position: absolute;
	left: 0;
	top: 0;
	height: 1000%;
	width: auto;
}

.logo-div {
	position: relative;
	height: 70%;
	width: auto;
	padding-bottom: 0;
}

#logo {
	height: 100%;
	width: auto;
}


/*LOGIN*/
.login_form {
	display: flex;
	justify-content: center;
}
.login {
	display: grid;
	place-items: center;
	height: 98vh;
	/* width: 100%; */
}
.login_title {
	font-size: 130px;
	text-shadow: -2px 3px 0 #000,2px 3px 0 #000;
}

.login_button {
	width: 350px;
	background-color: var(--primary);
	color: white;
	font-weight: 600;
	font-size: 26px;
	margin: 2vw;
	border-radius: 10px;
}
.login_button:hover {
	background-color: var(--primary-hover);
	color: #c6c9cc;
}

/*FORM*/
.form-control {
	color: black;
	background-color: var(--color3);
}
.form-label {
	color: var(--primary);
	opacity: 1;
}

/*SIDE NAV*/
.sidenav {
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0; /*Stay at the left*/
	overflow-x: hidden; /* Disable horizontal scroll */

	background-color: var(--color6);
	margin: auto;
	height: 100vh; /* Full screen height*/
	width: 45pt;
	display: table-column; /*Display in column style*/

	padding-top: 10pt;
}

.icon_button {
	background-color: var(--color4); /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	width: 85%;
	margin: 5%;
	padding: 15%; /* Some padding */
	font-size: 22px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}
.icon_button:hover {
	color: var(--primary-hover);
	background-color: var(--color5);
}

#dark-mode-toggle {
	position: absolute;
	bottom: 0;
	left: 0;
}

/*NAVs*/
nav {

}
.nav-link{
	color: var(--color1);
}
.nav-link:hover {
	color: var(--primary);
}
/*If active, highlight with color*/
.nav-pills .pill-1 .nav-link {
	background-color: var(--primary);
} /*If not active, make transparent*/
.nav-pills .pill-1 .nav-link:not(.active) {
	background-color: transparent;
}


/*BUTTONS*/
.btn {
	margin: 2pt;
}
.btn-primary {
	background-color: var(--primary);
	border: none;
}
.btn-primary:hover {
	background-color: var(--primary-hover);
}

.btn-secondary {
	background-color: var(--secondary);
}
.btn-secondary:hover {
	background-color: var(--secondary-hover);
}

.btn-danger {
	background-color: var(--danger);
}

@media screen and (min-width: 320px) {
	.btn { font-size: calc(14px + 6 * ((100vw - 320px) / 680)); }
}
@media screen and (min-width: 1000px) {
	.btn { font-size: 18px; }
}


/*TABLES*/
table tr {
	color: var(--color3);
}
table tr:nth-child(odd) {
	background-color: var(--color4);
}
table tr:nth-child(even) {
	background-color: var(--color5);
	
}

/*Toolbar*/
.toolbar {
	color: var(--color3);
	background-color: var(--color5);
	text-align: center;
	/*border-right: 1px solid var(--color1);*/
	display: flex;
	flex-flow: column;
	flex: 0.15;
	flex-shrink: 1;
	/* margin: auto; */
	padding: 10pt;
	padding-top: 10pt;
	/*height: 100vh;*/ /* Full-height: remove this if you want "auto" height */
	width: 10px; /* Set the width of the sidebar */
	/*position: fixed;*/ /* Fixed Sidebar (stay in place on scroll) */
	/* top: 0; /* Stay at the top !1! */
	min-width: 100px;
	/*overflow-x: hidden; /* Disable horizontal scroll !1!*/
}
.toolbar_header {
	top: 0;
	font-size: 100%;
	overflow: hidden;
}
.toolbar_buttons {
}
.toolbar_button {
	width: 100%;
}

/*CARDS*/
.card-container {
	margin: auto;
	margin-left: 5%;
	margin-right: 0%;
	/* text-align: center; */
}
.card {
	display: inline-grid;
	margin: 5px 10px;
	margin-right: 0px;
	margin-left: 0px;
	width: 17.5%;
	min-width: 17.5vw;
	min-height: 17.5vw;
	max-height: 17.5vh;
	/*max-width: 30vw;
	max-height: 25vh;*/
	/*min-width: 15vw;
	min-height: 10vh;*/
	background-color: var(--primary);
}
.card-header {
	height: 100%;
	text-align: center;
	font-size: 42px;
	bottom: 0;
	background-color: var(--color2);
}
.card-title {
	color: var(--color1);
	top: 0;
	bottom: 0;
	text-decoration: none;
}
.card-title:hover {
	text-decoration: underline;
}

.card-body {
	height: 50%;
}







/*CHAT VIEW*/
.channel-header {
	border-bottom: 1px solid var(--color1);
	display: flex;
	flex-flow: row;
	padding: 10pt;
	padding-top: 10pt;
	position: relative;
}

.chat {
	display: flex;
	flex-flow: column;
	height: available;
	max-height: 100%;
	/*border: 2px solid yellow;*/
}

.chat-area {
	color: var(--color3);
	display: flex;
	overflow: auto;
	overflow-x: hidden;
	/* background-color: var(--color6); */
	flex: 1;
	flex-flow: column;
	flex-shrink: 1;
	flex-grow: 1;
	flex: 1 1 auto;
	width: 100%;
	height: 0; /*DO NOT CHANGE OR BREAKS EVERYTHING*/
	/*min-height: 75vh;*/
	/*max-height: 75vh; */
}

.message-list {
	display: flex;
	flex: 1;
	flex-flow: column;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: available;
	list-style-type: none;
	margin: 1px;
	padding: 5px;
	width: 100%;
	height: auto; 
	/*min-height: 75vh;*/
	/*max-height: 75vh;*/
}

.chat-message {
	color: var(--color1);
	display: flex;
	flex-direction: column;
	word-break: break-word;
	overflow-wrap: break-word; /*Wrap text*/
	inline-size: 100%;
	/*flex-flow: row;
	flex: 0 0 auto;
	width: 100%;
	*/
	list-style-type: none;
	border-radius: 5px;
	/*padding: 2px;
	padding-left: 1%;*/
	margin: 2px;
}
.chat-message:hover {
	background-color: var(--primary);
}
.chat-message--user {
	background-color: var(--color2);
}
.chat-message-header {
	width: 100%;
	display: flex;
	background-color: var(--color5);
	padding: 2pt;
	padding-left: 1%;
	/*border-radius: 5px;*/
}
.chat-message-username {
	color: var(--color3);
	text-align: center;
	/*width: 10%;*/
	font-size: 90%;
	background-color: var(--primary);
	border-radius: 5px;
	word-break: normal;
	margin-right: 15pt;
	padding: 0px;
}
.chat-message-timestamp {
	color: var(--color3);
	padding: 0px;
	font-size: smaller;
	opacity: 0.5;
}
.chat-message-content {
	padding-left: 0.5%;
}


.chatbox {
	/*background-color: var(--color6);*/
	display: flex;
	flex: 0;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0; /*10px;*/
	padding: 1pt;
	/* margin-right: 45pt; */
	/*margin-top: 10px;*/
	/* margin-bottom: 10px; */
	flex-flow: row nowrap;
	/*position: absolute;*/
	bottom: 0;
}

.chatbox-textarea {
	display: flex;
	flex: 0.5;
	flex-shrink: 1;
	flex-basis: auto;
	color: var(--color3);
	background-color: var(--color5);
	overflow: auto;
	resize: none;
	min-height: 50px;
	max-height: 250px;
	line-height: 25px;
	padding: 1%;
	border-radius: 5px;
}

.chatbox-sendbutton {
	display: flex;
	flex: 0.5;
	color: var(--color3);
	background-color: var(--color5);
	height: 50px;
	align-self: end;
	text-align: center;
}

member_button {

}


.online {
	color: lawngreen;

}

.offline {
	color: gray;

}

/*Custom scrollbar*/
.scroll::-webkit-scrollbar {
	width: 12px;
}

.scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0px 0px 5px var(--color1);
	border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 5px 5px 100px var(--color1);
	border-radius: 5px;
}